.content {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  padding-bottom: 3rem;
}

.icon {
  height: 2rem;
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  margin: 0 0.5rem;
  margin-left: 1rem;
}

.icon.background {
  cursor: pointer;
  background-color: lightgray;
  margin-left: 0;
}

.horizontal {
  display: flex;
  flex-direction: row;
  height: 3.5rem;
  align-items: center;
  font-size: 1.1rem;
}

.footer {
  padding: 1rem 0;
  align-items: center;
  margin-top: auto;
  display: flex;
  justify-content: flex-end;
}

.buttonContainer {
  width: 15rem;
}

.footerText {
  font-size: 1.5rem;
  line-height: 1.8rem;
  padding: 0 2rem;
}

.overview {
  flex-direction: row;
  display: flex;
  gap: 1rem;
}

.grid {
  padding-inline: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}

.guestInfo {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  border-radius: 10px;
}

.summaryContainer {
  background-color: var(--secondary-color);
  padding: 0.75rem;
  border-radius: 5px;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 3;
}

.heading {
  font-size: 1.3rem;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
}

.description {
  flex: 5;
  display: flex;
  font-size: 1.1rem;
}

.price {
  flex: 2;
  display: flex;
  justify-content: flex-end;
  font-size: 1.1rem;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  padding: 0.1rem 0;
}

.roomContainer {
  padding-bottom: 1rem;
}
