.container {
  height: 5rem;
  display: flex;
  align-items: center;
  padding-top: 20px;
}

.buttonPrimary {
  height: 3.2rem;
  width: 100%;
  margin: 0.5rem;
  background-color: var(--primary-color);
  border-radius: var(--bton-border);
  border: 1px solid var(--primary-color);
  color: #fff;
  font-size: 1.1rem;
  cursor: pointer;
}

.buttonPrimary:hover {
  background-color: var(--primary-darker);
}

.buttonPrimary.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.buttonSecondary {
  height: 3.2rem;
  width: 100%;
  margin: 0.5rem;
  background-color: white;
  border-radius: var(--bton-border);
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  font-size: 1.1rem;
  cursor: pointer;
}
